<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<link rel="shortcut icon" href="./images/logoo.png" type="image/png">
		<title>Programação</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">AiprM1</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>		
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Programação</h1>
						<p>É um processo de escrita, testes e manutenção de programas de computadores. <br> Esses programas, por sua vez  são compostos por conjuntos de instruções<br> determinados pelo programador que descrevem tarefas a serem <br> realizadas pela máquina e atendem diversas finalidades.</p>
					</header>
					<a href="#main" class="button big scrolly">Ler Mais</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="images/python.png" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Python</h3>
										<p>Python é uma linguagem de programação interpretada de uso geral, muito popular e que pode ser usada para desenvolver uma ampla variedade de aplicativos. Possuí estruturas de dados de alto nível, módulos, exceções, tipagem dinâmica, vinculação dinâmica e muitos recursos.</p>
										<p>A linguagem Python funciona em diferentes plataformas desde que seu interpretador esteja instalado. Em outras palavras, o Python tem a capacidade de funcionar com vários sistemas e processadores diferentes. A linguagem também é multiparadigma.</p>
										<a href="https://www.python.org/" target="_blank" class="button">Ler Mais</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>CSharp</h3>
									<p>C# (CSharp) é uma linguagem de programação orientada a objetos criada pela Microsoft, faz parte da sua plataforma . Net. A companhia baseou C# na linguagem C++ e Java. C# (CSharp) é uma linguagem de programação orientada a objetos criada pela Microsoft, faz parte da sua plataforma .</p>
									<p>Ela é usada na maioria das classes do . NET framework. Foi a primeira linguagem orientada a componentes da família C/C++, segue os padrões POO, onde tudo deriva de um ancestral comum, no caso de C# é System.</p>
									<a href="https://docs.microsoft.com/pt-br/dotnet/csharp/" target="_blank" class="button">Ler Mais</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html"  class="link"><img src="images/c.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Outras Linguagens</h2>
								<p>Na programação nunca é o suficiente o céu não é limite mais.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/jssss.png" alt="JavaScript" />
									</div>
									<p>JavaScript é uma linguagem de programação que permite a você implementar itens complexos em páginas web — toda vez que uma página da web faz mais do que simplesmente mostrar a você informação estática — mostrando conteúdo que se atualiza em um intervalo de tempo, mapas interativos ou gráficos 2D/3D animados, etc.</p>
									<a href="https://pt.wikipedia.org/wiki/JavaScript" target="_blank" class="button">Ler Mais</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/c2.png" alt="c++" />
									</div>
									<p>O C++ é uma linguagem de programação de nível médio, baseada na linguagem C. O desenvolvimento da linguagem começou na década de 80, por Bjarne Stroustrup. ... O C++ apresenta grande flexibilidade, embora seja bom, este fato faz com que a programação seja muito mais cuidadosa para não terem erros.</p>
									<a href="https://pt.wikipedia.org/wiki/C%2B%2B" target="_blank" class="button">Ler Mais</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/htm.png"  alt="html" />
									</div>
									<p>HTML significa Hypertext Markup Language. Ele permite que os usuários criem e estruturem seções, parágrafos, cabeçalhos e links para páginas da internet ou aplicações. O HTML não é uma linguagem de programação, isso significa que não pode ser usado para criar funcionalidades dinâmicas.</p>
									<a href="https://pt.wikipedia.org/wiki/HTML" target="_blank" class="button">Ler Mais</a>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://twitter.com/fortunatooSc" target="_blank" class="icon fa-twitter"><span  class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/matheus.matheusfortunatocarneiro/" target="_blank" class="icon fa-facebook"><span  class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/fortunaato__/" class="icon fa-instagram" target="_blank" ><span  class="label">Instagram</span></a></li>
						
					</ul>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>