h1{
    color: rgb(100, 105, 104);
    font-family: 'Courier New', Courier, monospace;
    font-size:400%;
    
      /*Propriedade deve estar dentro de um seletor*/
     text-align: center;

 }

   .idea{
      display: flex;
      max-height: 1000px;
  
      
      box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
      border-radius: 8px;
  
  
      padding:32px;
      margin-bottom: 32px;
  }
  
  .idea img {
      width: 200px;
      height: 200=0px;
  
      margin-right: 32px;
  
  
  }
  
  .idea h2{
      margin: 0;
  }
  
  .idea p {
   margin: 8px 0;
   color: #36003b;
   
  
  }
  
  .idea .description{
      margin: 16px 0;
  }
  
  p, .description{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1;
  }

  p{
      font-family: 'Dancing Script', cursive;
  }






  
/*
BOX > CONTEUDO DA CAIXA
Largura
conteudo da caixa
espaçamento
bordas
posicionamentos
/*/



body{
    background: #e5e5e5;
    color: #25282B;

    
    
    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}




a{
    
    color:#2a2929;
    font-weight: bold;
}




#container{
    width: 80%;
    max-width: 2000px;
   

    margin: 40px auto;

    display: flex;
 
}



#intro{
    width: 300px;
    margin-right: 64px;
}

main{
    margin: 32px 0;
}


#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;


}




#buttons, footer {
    text-align: center;
    
}

#footer a {
color: #25282B;
text-decoration: none;
}



footer{
text-align: flex;

font-weight: 400;   
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;

color: #777777;
}

footer a{
    opacity: 0.8;
}

.idea{
    display: flex;

    background-color: white;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    

    padding:100px;
    margin-bottom: 32px;
}

.idea img {
    width: 300px;
    height: 300px;

    margin-right: 32px;


}

.idea h3{
    margin: 0;
}

.idea p {
 margin: 10px 0;
 color: #777777;

}

.idea .description{
    margin: 16px 0;
}

p, .description{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1;
}

.button{
    color:white;
    background:#ff5e84;
    
    width:150px;
    height: 40px;

    font-size: 14px;
    font-weight: bold;
    
    border-radius: 6px;
    
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    
    }
    
.button:hover{
        text-decoration: none;
    }



/*IDEIA.HTML*/
#page-ideas #container {
    display: block;
}

#page-ideas header{
    display: flex;
    justify-content: space-between;
}



#page-ideas nav li{
      list-style-type: none;

      margin-right: 16px;
}

#page-ideas nav li a{
    color: #25282B;
    text-decoration: none;

}







#page-ideas nav li:last-child a:hover {
    background-color: #0984e3;
    text-decoration: none;

}


section#title{
    text-align: center;

    
}

section#title p{
    opacity: 0.7;
    margin: 0;
    font-size: 10px;
}

section#title h1{
    margin: 0;
    font-size: 28px;
}


h3{
    font-size: 50px;
    
}

p{
    font-size: 20px;
    align-items: center;
}

